body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flex-container{
    display: flex;
}
.header-sec{
    background-color: #FDEBEB;
    
}
.half-width{
    width: 30%;
}
.half-width-2nd{
    width: 50%;
}
h4{
    margin-left: 50px;
    font-size: 20px;
    
}
.half-width-2nd ul li{
    display: inline;
    padding: 2px;
    background-color: orangered;
    border-radius: 5px;
    padding: 5px;
}
.half-width-2nd ul li a{
    color: white;
    text-decoration: none;
}
.hire-me{
    margin-top: 15px;
}
.hire{
   background-color: #FE4D55;
   color: white;
   padding: 8px;
   text-decoration: none;
   font-weight: 500;
}
.header-width{
    width: 50%;
}
h1{
    color: #16093f;
    font-size:50px;
    margin-left: 50px;
}
.middle-sec{
    width: 50%;
    margin: 50px;
}
h2{
    color: #16093f;
}
.header-width img{
    border-top-left-radius: 300px;
    box-shadow: 10px 10px 30px pink;
}
.middle-sec img{
    box-shadow: 10px 30px 50px orange;
    border-radius: 10px;
}
.middle-sec ul{
    margin-left: -40px;
}
.middle-sec ul li{
    display: inline;
    padding: 2px;
    background-color: #FE4D55;
    border-radius: 5px;
    padding: 5px;
}
.middle-sec ul li a{
    text-decoration: none;
    color: white;
}
.width-50{
    width: 50%;
    padding: 30px;
    box-shadow: 10px 30px 50px gray;
    margin: 30px;
    border-left: 10px solid  #FE4D55 ;
    border-top-left-radius: 20px;
}
.width-50 img{
    height: 100px;
}
.edu{
    margin-left: 0px; 
}
#outside-hedding-port{
    text-align: center;
    border-bottom: 2px solid orangered;
    margin-left: 50%;
    box-shadow: 10px 5px 10px gray;

}
#outside-hedding-about{
    text-align: center;
    border-bottom: 2px solid orangered;
    margin-right: 50%;
    box-shadow: 10px 5px 10px gray;
    
}
#outside-hedding-serv{
    text-align: center;
    border-bottom: 2px solid orangered;
    margin-right: 50%;
    box-shadow: 10px 5px 10px gray;

}
.width-services{
    width: 50%;
    margin: 10px;
    padding: 10px;
    background-color: #FEF6F6;
    box-shadow: 5px 1px 0px #471ece;
}
.default-service{
    background-color: #1D1730 important;
}
.width-services h5{
    font-size: 18px;
    color: #1D1730;
    margin-left: 30px;
}
.width-services img{
    height: 80px;
    width: auto;
    background-color: #FE4D55;
    border: 3px solid #FE4D55;
    padding: 5px;
    margin-top: -10px;
    margin-left: 30px;
}
.width-services p{
    margin-left: 30px;
    color: #1D1730;
    margin-right: 6px;
}
.width-services a{
    text-decoration: none;
    margin-left: 30px;
    padding: 5px;
   background-color: #FE4D55;
   color: white;
   border-radius: 5px;
}
#outside-hedding-rev{
    text-align: center;
    border-bottom: 2px solid orangered;
    margin-left: 50%;
    box-shadow: 10px 5px 10px gray;
}
.width-rev{
    padding: 100px;
   background-color: #f8eeee;
   
}
.width-rev a{
    text-decoration: none;
    padding: 5px;
   background-color:red;
   color: white;
   border-radius: 5px;
}
footer{
    background-color: #1D1730;
}
.footer-sec{
    width: 50%;
    text-align: right;
    color: white;
    margin-bottom: 20px;
}
.footer-sec h1{
    color: white;
}
footer ul li{
    display: inline;
}
footer ul li a{
    text-decoration: none;
}
.fotter-sec-last{
    text-align: right;
    width: 50%;
    margin-right: 80px;
    margin-top: 50px;
    
}
footer a{
    text-decoration: none;
    border: 1px solid orange;
    padding: 5px;
    color: white;
    font-weight: bold;
    
}
#sec-p{
    background-color: #1D1730;
    border: none;
    font-size: 10px;
}
footer p{
    border: 2px solid orange;
    color: white;
    margin-left:300px;
    background-color: orange;
}
#ouside-text{
    text-align: center;
}
  #change-text {
    font-size: 30pt;
    color: #eb3486;
    animation-name: fontChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
@keyframes fontChange {
    0% {
      font-family: 'Major Mono Display', monospace;
    }
    20% {
      font-family: 'Kaushan Script', cursive;
    }
    40% {
      font-family: 'Lobster', cursive;
    }
    60% {
      font-family: 'Ranchers', cursive;
    }
    80% {
      font-family: 'Bitter', serif;
    }
    100% {
      font-family: 'Major Mono Display', monospace;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Kaushan+Script&family=Lobster&family=Major+Mono+Display&family=Ranchers&display=swap');